*{ /* * selects all elements */
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin:0; /*no space between browser window & border*/
    min-height: 1200px; /*sets minimum height for all pages*/
}
header, nav, footer, section, article, aside{
    border: 1px solid black; /*border shows semantic layout of display elements*/
    background-color: white; /*background color for selected elements*/
}
section, article{
    width: 70%;
    height: 70vh;
}
aside{
    width: 30%;
    height: 140vh;
    float: right; /*positions the aside to the right of the section/article*/
}
nav, footer{
    height: 10vh;
    position: sticky;
    top: 0px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; /*cenetered words vertically/horizontally*/
}
a{
    text-decoration: none; /*removes underlines from links*/
}
nav > a{ /*styling for elements within nav*/
    font-weight: 600; /* makes font thicker*/
    font-size: 25px;
    margin: 20px; /* adds space between nav links*/
    color: inherit; /*inherits white from parent element on lines 8-10*/
    border: 3px solid transparent; /*makes border visible*/
    padding: 1px 4px; /*space between text & border*/
    border-radius: 5px; /*makes border corners round, not squared*/
}
a:visited{
    color: inherit; /*keep same color as parent element after visited*/
}
a:hover{
    border-color: white;
}
a:visited:hover{
    border-color: blue; /*only border color changes when page is visited */
}
a:active, a:visited:active{
    border-color: yellow; /*yellow border if active & visited already*/
}
.dropdown{
    position: relative; /*positions menu relative to the elements normal position*/
    cursor: pointer;
}
.dropdown > ul{
    display: none;
    min-width: 100px;
    box-shadow: 0px 2px 4px 1px black; /*set dimensions/color dropdown shadow*/
}
.dropdown:hover > ul{
    display: flex;
    flex-flow: column nowrap; /*words in dropdown stack vertically*/
    position: absolute;
    top:50px;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    padding:0px;
}
.dropdown > ul > li{
    padding: 10px; /*adds space around items(within border)*/
    list-style: none; /*removes bulletts from the left*/
}
.dropdown > ul > li:hover{
    background-color: white;/*background same color as text?:*/
    color: black; /*changes text color when hovered for visibility*/
}
/*hero image styling(gradient):*/
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("/images/hero-image.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*background covers available space*/
    position: relative;
}
/* footer with social media icon links (font awesome) */
footer{
    display: flex;
    justify-content: center; /*centers everything in footer*/
}
.fa{
    padding: 20px; /*padding makes space for icon shape*/
    font-size: 30px; /*size of icon href*/
    width: 50px; /*sets width for each icon container*/
    margin: 10px 3px; /* 10px from top/bottom, 3px space in-between each icon*/
    border-radius: 10px; /*rounds the corners of icon boxes*/
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-google{
    background: #dd4b39;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
div{ /*creates white spice to scroll on contact & about pages*/
    height: 1000px;
}
.dropdown{ /*positions logo & dropdown menu on nav bar*/
    margin-top: 860px;
}
/*contact form using formspree, styling largely inspired by w3schools*/
input[type=text], select, textarea{ /*selects inputs with type="text", select and text area attributes*/
    width: 100%; /*stretches divs to both sides of window, making them stack vertically*/
    padding: 20px; /*12 pixels of space in selected containers*/
    border: 1px solid black; /*black border 1px large (sqaured)*/
    border-radius: 4px; /*makes border corners rounded*/
    box-sizing: border-box; /*keeps width and padding consistent*/
    margin-top: 6px; /*adds 6px of space between text & container*/
    margin-bottom: 16px; /*adds 16px of space below each container(input box)*/
    resize: vertical horizontal; /*makes textarea resizable vertically & horizontally*/
}
input[type=submit] { /*styles the submit button*/
    background-color: green; /*green background behind button*/
    color: white; /*button text color*/
    padding: 12px 20px; /*padding vertical & horizontal*/
    border: none; /*invisible border*/
    border-radius: 4px; /*makes button round*/
    cursor: pointer; /*cursor is a pointer when user submits*/
}
input[type=submit]:hover { /*styling for when cursor is hovering over button*/
    background-color: blue; /*dif background color when cursor hover*/
}
.contact-container{ /*styling for all containers in class="contact-container*/
    border-radius: 5px; /*5px of space between border and container all round*/
    background-color: whitesmoke; /*container color*/
    padding: 20px; /*20px of space around containers*/
}